# Importing Necessary Library

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

# Loading The Data Set

In [2]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
sample_submit = pd.read_csv("sample_submission.csv")

# Viewing the Sample Submission Format

In [3]:
sample_submit.head()

   User_ID Is_Response
0  id80132   not_happy
1  id80133       happy
2  id80134       happy
3  id80135   not_happy
4  id80136       happy

# Viewing the Train data set

In [4]:
train.head()

,User_ID,Description,Browser_Used,Device_Used,Is_Response
0,id10326,The room was kind of clean but had a VERY stro...,Edge,Mobile,not happy
1,id10327,I stayed at the Crown Plaza April -- - April -...,Internet Explorer,Mobile,not happy
2,id10328,I booked this hotel through Hotwire at the low...,Mozilla,Tablet,not happy
3,id10329,Stayed here with husband and sons on the way t...,InternetExplorer,Desktop,happy
4,id10330,My girlfriends and I stayed here to celebrate ...,Edge,Tablet,not happy

# Viewing the Test data Set

In [5]:
test.head()

,User_ID,Description,Browser_Used,Device_Used
0,id80132,Looking for a motel in close proximity to TV t...,Firefox,Mobile
1,id80133,Walking distance to Madison Square Garden and ...,InternetExplorer,Desktop
2,id80134,Visited Seattle on business. Spent - nights in...,IE,Tablet
3,id80135,This hotel location is excellent and the rooms...,Edge,Mobile
4,id80136,This hotel is awesome I love the service Antho...,Mozilla,Mobile

# Checking the shape of the Train Data Set

In [6]:
train.shape

(38932, 5)

# Checking the shape of the Test Data Set

In [7]:
test.shape

(29404, 4)

# Checking the Difference between the test and train data set

In [8]:
train.columns.difference(test.columns)

Index([u'Is_Response'], dtype='object')

# Creating a column and separating it with test and train data and concat as new data set

In [9]:
train["source"] = "train"
test["source"] = "test"

In [10]:
dataf = pd.concat([train,test],axis=0,sort=False)

# Checking the Na values in the data set

In [11]:
dataf.isna().sum()

User_ID             0
Description         0
Browser_Used        0
Device_Used         0
Is_Response     29404
source              0
dtype: int64

# checking the information about the data set

In [12]:
dataf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 68336 entries, 0 to 29403
Data columns (total 6 columns):
User_ID         68336 non-null object
Description     68336 non-null object
Browser_Used    68336 non-null object
Device_Used     68336 non-null object
Is_Response     38932 non-null object
source          68336 non-null object
dtypes: object(6)
memory usage: 2.1+ MB

# Checking the stats of the data set

In [13]:
dataf.describe()

,User_ID,Description,Browser_Used,Device_Used,Is_Response,source
count,68336,68336,68336,68336,38932,68336
unique,68336,68336,11,3,2,2
top,id85509,My husband and son recently stayed at this hot...,Firefox,Desktop,happy,train
freq,1,1,13043,26375,26521,38932

# Checking the unique values in the data set

In [14]:
dataf.nunique()

User_ID         68336
Description     68336
Browser_Used       11
Device_Used         3
Is_Response         2
source              2
dtype: int64

# Checking the shape of new data set

In [15]:
dataf.shape

(68336, 6)

# checking the columns in the new data set

In [16]:
dataf.columns

Index([u'User_ID', u'Description', u'Browser_Used', u'Device_Used',
       u'Is_Response', u'source'],
      dtype='object')

# checking for the duplicate in the data set

In [17]:
dataf.duplicated().sum()

0

# Number of Words

In [18]:
dataf['word_count']=dataf['Description'].apply(lambda x: len(str(x).split(" ")))
dataf[['Description','word_count']].head()

                                         Description  word_count
0  The room was kind of clean but had a VERY stro...          46
1  I stayed at the Crown Plaza April -- - April -...         208
2  I booked this hotel through Hotwire at the low...         229
3  Stayed here with husband and sons on the way t...          93
4  My girlfriends and I stayed here to celebrate ...         294

# Number of characters

In [19]:
dataf['char_count'] = dataf['Description'].str.len() ## this also includes spaces
dataf[['Description','char_count']].head()

                                         Description  char_count
0  The room was kind of clean but had a VERY stro...         248
1  I stayed at the Crown Plaza April -- - April -...        1077
2  I booked this hotel through Hotwire at the low...        1327
3  Stayed here with husband and sons on the way t...         502
4  My girlfriends and I stayed here to celebrate ...        1613

# Average Word Length

In [20]:
def avg_word(sentence):
  words = sentence.split()
  return (sum(len(word) for word in words)/len(words))

dataf['avg_word'] = dataf['Description'].apply(lambda x: avg_word(x))
dataf[['Description','avg_word']].head()

                                         Description  avg_word
0  The room was kind of clean but had a VERY stro...         4
1  I stayed at the Crown Plaza April -- - April -...         4
2  I booked this hotel through Hotwire at the low...         4
3  Stayed here with husband and sons on the way t...         4
4  My girlfriends and I stayed here to celebrate ...         4

# Importing NLTK package

In [21]:
import nltk

In [24]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\user\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [25]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\user\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

# Number of stopwords

In [26]:
from nltk.corpus import stopwords
stop = stopwords.words('english')
dataf['stopwords'] = train['Description'].apply(lambda x: len([x for x in x.split() if x in stop]))
dataf[['Description','stopwords']].head()

                                         Description  stopwords
0  The room was kind of clean but had a VERY stro...         23
1  I stayed at the Crown Plaza April -- - April -...         82
2  I booked this hotel through Hotwire at the low...         91
3  Stayed here with husband and sons on the way t...         36
4  My girlfriends and I stayed here to celebrate ...        127

# Number of special characters

In [27]:
dataf['SpecialChar'] = dataf['Description'].apply(lambda x: len([x for x in x.split() if x.startswith('-')]))
dataf[['Description','SpecialChar']].head()

                                         Description  SpecialChar
0  The room was kind of clean but had a VERY stro...            0
1  I stayed at the Crown Plaza April -- - April -...            6
2  I booked this hotel through Hotwire at the low...            0
3  Stayed here with husband and sons on the way t...            0
4  My girlfriends and I stayed here to celebrate ...            8

# Number of numerics

In [28]:
dataf['numerics'] = dataf['Description'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
dataf[['Description','numerics']].head()

                                         Description  numerics
0  The room was kind of clean but had a VERY stro...         0
1  I stayed at the Crown Plaza April -- - April -...         0
2  I booked this hotel through Hotwire at the low...         0
3  Stayed here with husband and sons on the way t...         0
4  My girlfriends and I stayed here to celebrate ...         0

# Number of Uppercase words

In [29]:
dataf['upper'] = dataf['Description'].apply(lambda x: len([x for x in x.split() if x.isupper()]))
dataf[['Description','upper']].head()

                                         Description  upper
0  The room was kind of clean but had a VERY stro...      1
1  I stayed at the Crown Plaza April -- - April -...      8
2  I booked this hotel through Hotwire at the low...      9
3  Stayed here with husband and sons on the way t...      0
4  My girlfriends and I stayed here to celebrate ...      7

# Lower casing

In [30]:
dataf['Description'] = dataf['Description'].apply(lambda x: " ".join(x.lower() for x in x.split()))
dataf['Description'].head()

0    the room was kind of clean but had a very stro...
1    i stayed at the crown plaza april -- - april -...
2    i booked this hotel through hotwire at the low...
3    stayed here with husband and sons on the way t...
4    my girlfriends and i stayed here to celebrate ...
Name: Description, dtype: object

# Removing Punctuation

In [31]:
dataf['Description'] = dataf['Description'].str.replace('[^\w\s]','')
dataf['Description'].head()

0    the room was kind of clean but had a very stro...
1    i stayed at the crown plaza april   april   th...
2    i booked this hotel through hotwire at the low...
3    stayed here with husband and sons on the way t...
4    my girlfriends and i stayed here to celebrate ...
Name: Description, dtype: object

# Removal of Stop Words

In [32]:
from nltk.corpus import stopwords
stop = stopwords.words('english')
dataf['Description'] = dataf['Description'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
dataf['Description'].head()

0    room kind clean strong smell dogs generally av...
1    stayed crown plaza april april staff friendly ...
2    booked hotel hotwire lowest price could find g...
3    stayed husband sons way alaska cruise loved ho...
4    girlfriends stayed celebrate th birthdays plan...
Name: Description, dtype: object

# Common word removal or Keeping it

# let’s check the most frequently occurring words in our text data then take call to remove or retain . In which I have taken the 304 words as the total words is 92530 and square root of it

In [33]:
freq = pd.Series(' '.join(dataf['Description']).split()).value_counts()[:304]
freq.head()

hotel    124947
room     108111
stay      46365
great     44817
staff     42681
dtype: int64

# Now Keep it from the Freq

In [34]:
freq = list(freq.index)
dataf['Description'] = dataf['Description'].apply(lambda x: " ".join(x for x in x.split() if x in freq))
dataf['Description'].head()

0    room clean ok stay youre would staying price r...
1    stayed staff friendly food restaurant little h...
2    booked hotel price could find got front desk m...
3    stayed husband way loved hotel great experienc...
4    stayed th weekend back looking us rooms rate s...
Name: Description, dtype: object

# Rare words removal

# Similarly, just as we removed the most common words, this time let’s remove rarely occurring words from the text. Because they’re so rare, the association between them and other words is dominated by noise. You can replace rare words with a more general form and then this will have higher counts

In [35]:
freq = pd.Series(' '.join(dataf['Description']).split()).value_counts()[-152:]
freq.head()

long       5900
across     5898
weekend    5886
problem    5884
rate       5848
dtype: int64

# Now Removing

In [36]:
freq = list(freq.index)
dataf['Description'] = dataf['Description'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
dataf['Description'].head()

0    room clean stay would staying price right brea...
1    stayed staff friendly food restaurant little p...
2    booked hotel price could find got front desk u...
3    stayed way hotel great experience room best fl...
4    stayed th back us rooms stayed nights parking ...
Name: Description, dtype: object

# Importing Text blob for Spelling correction giving the number as 68336 because total number of rows

In [39]:
from textblob import TextBlob
dataf['Description']=dataf['Description'][:68336].apply(lambda x: str(TextBlob(x).correct()))

# Checking the Sentiment of the Description Column using Sentiment Analysis

In [40]:
dataf['Description'][:5].apply(lambda x: TextBlob(x).sentiment)

0    (0.388095238095, 0.633928571429)
1          (-0.01625, 0.548888888889)
2            (0.2125, 0.457692307692)
3                      (0.95, 0.7625)
4    (0.404166666667, 0.508333333333)
Name: Description, dtype: object

# Above, you can see that it returns a tuple representing polarity and subjectivity of each tweet. Here, we only extract polarity as it indicates the sentiment as value nearer to 1 means a positive sentiment and values nearer to -1 means a negative sentiment.

In [41]:
dataf['sentiment'] = dataf['Description'].apply(lambda x: TextBlob(x).sentiment[0] )
dataf[['Description','sentiment']].head()

                                         Description  sentiment
0  room clean stay would staying price right brea...   0.388095
1  stayed staff friendly food restaurant little p...  -0.016250
2  booked hotel price could find got front desk u...   0.212500
3  stayed way hotel great experience room best fl...   0.950000
4  stayed th back us rooms stayed nights parking ...   0.404167

# Now Checking for the same types of browser used

In [42]:
dataf.Browser_Used.unique()

array(['Edge', 'Internet Explorer', 'Mozilla', 'InternetExplorer',
       'Firefox', 'Google Chrome', 'Chrome', 'IE', 'Opera',
       'Mozilla Firefox', 'Safari'], dtype=object)

# Making the Same browser on the single name

In [43]:
dataf["Browser_Used"] = dataf.Browser_Used.replace({'Internet Explorer':'IE','InternetExplorer':'IE'})

In [44]:
dataf["Browser_Used"] = dataf.Browser_Used.replace({'Mozilla':'Firefox','Mozilla Firefox':'Firefox'})

In [45]:
dataf["Browser_Used"] = dataf.Browser_Used.replace({'Google Chrome':'Chrome'})

In [46]:
dataf.Browser_Used.unique()

array(['Edge', 'IE', 'Firefox', 'Chrome', 'Opera', 'Safari'], dtype=object)

# Checking for the Device Used for Reviews

In [47]:
dataf.Device_Used.unique()

array(['Mobile', 'Tablet', 'Desktop'], dtype=object)

# ONE hot Encoding for Categorical data Coumn Browser Used

In [48]:
Browser_dummy=pd.get_dummies(dataf.Browser_Used,prefix = "Browser")

In [49]:
dataf = pd.concat([dataf,Browser_dummy],axis = 1)

In [50]:
dataf=dataf.drop('Browser_Used',axis=1)

In [51]:
dataf.head()

,User_ID,Description,Device_Used,Is_Response,source,word_count,char_count,avg_word,stopwords,SpecialChar,numerics,upper,sentiment,Browser_Chrome,Browser_Edge,Browser_Firefox,Browser_IE,Browser_Opera,Browser_Safari
0,id10326,room clean stay would staying price right brea...,Mobile,not happy,train,46,248,4,23,0,0,1,0.388095,0,1,0,0,0,0
1,id10327,stayed staff friendly food restaurant little p...,Mobile,not happy,train,208,1077,4,82,6,0,8,-0.016250,0,0,0,1,0,0
2,id10328,booked hotel price could find got front desk u...,Tablet,not happy,train,229,1327,4,91,0,0,9,0.212500,0,0,1,0,0,0
3,id10329,stayed way hotel great experience room best fl...,Desktop,happy,train,93,502,4,36,0,0,0,0.950000,0,0,0,1,0,0
4,id10330,stayed th back us rooms stayed nights parking ...,Tablet,not happy,train,294,1613,4,127,8,0,7,0.404167,0,1,0,0,0,0

# Converting the Is_Response Column to Numerical data

In [52]:
dataf["Is_Response"] = dataf.Is_Response.replace({'happy':1,'not happy':0})

# Converting the Source Column to Numerical data

In [53]:
dataf["source"] = dataf.source.replace({'train':1,'test':0})

# ONE hot Encoding for Categorical data Device Used

In [54]:
Device_dummy=pd.get_dummies(dataf.Device_Used,prefix = "Device")

In [55]:
dataf = pd.concat([dataf,Device_dummy],axis = 1)

In [56]:
dataf=dataf.drop('Device_Used',axis=1)

In [58]:
dataf.head(2)

,User_ID,Description,Is_Response,source,word_count,char_count,avg_word,stopwords,SpecialChar,numerics,...,sentiment,Browser_Chrome,Browser_Edge,Browser_Firefox,Browser_IE,Browser_Opera,Browser_Safari,Device_Desktop,Device_Mobile,Device_Tablet
0,id10326,room clean stay would staying price right brea...,0.0,1,46,248,4,23,0,0,...,0.388095,0,1,0,0,0,0,0,1,0
1,id10327,stayed staff friendly food restaurant little p...,0.0,1,208,1077,4,82,6,0,...,-0.016250,0,0,0,1,0,0,0,1,0

# Creating a data frame using only categorical data

In [59]:
data_column_category = dataf.select_dtypes(exclude=[np.number]).columns

# Creating a data frame using only the Numerical data

In [60]:
data_column_Integer = dataf.columns.difference(data_column_category)

# Creating the data fram using the User ID column and Integer Column

In [61]:
data_model= pd.concat([dataf["User_ID"],dataf[data_column_Integer]],axis=1)

# Checking the no of rows and column in data model dataframe which need to be written to a csv file

In [62]:
data_model.shape

(68336, 20)

# Now Splitting the Train and Test data set

In [63]:
train_modified = data_model.loc[data_model.source==1,:]

In [64]:
test_modified = data_model.loc[data_model.source==0.0,:]

In [65]:
test_modified.shape

(29404, 20)

In [66]:
train_modified.shape

(38932, 20)

In [67]:
test_modified.columns

Index([u'User_ID', u'Browser_Chrome', u'Browser_Edge', u'Browser_Firefox',
       u'Browser_IE', u'Browser_Opera', u'Browser_Safari', u'Device_Desktop',
       u'Device_Mobile', u'Device_Tablet', u'Is_Response', u'SpecialChar',
       u'avg_word', u'char_count', u'numerics', u'sentiment', u'source',
       u'stopwords', u'upper', u'word_count'],
      dtype='object')

# Dropping the Source column and Target column  Response as well as other non significant columns from test data set

In [75]:
test_modified.drop(columns=['source','Is_Response','SpecialChar','avg_word','char_count','numerics','stopwords','upper','word_count'],inplace=True)

In [77]:
test_modified.shape

(29404, 11)

# Dropping the Source Column from Train data set as well as other non significant columns

In [76]:
train_modified.drop(columns=['source','SpecialChar','avg_word','char_count','numerics','stopwords','upper','word_count'],inplace=True)

In [78]:
train_modified.shape

(38932, 12)

# Writing the Test and Train data set to CSV File

In [79]:
train_modified.to_csv("train_ready_for_model.csv",index=False)

In [80]:
test_modified.to_csv("test_ready_for_model.csv",index=False)