# Importing Necessary Library

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

# Loading The Data Set

In [2]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
sample_submit = pd.read_csv("sample_submission.csv")

# Viewing the Sample Submission Format

In [3]:
sample_submit.head()

   User_ID Is_Response
0  id80132   not_happy
1  id80133       happy
2  id80134       happy
3  id80135   not_happy
4  id80136       happy

# Viewing the Train data set

In [4]:
train.head()

,User_ID,Description,Browser_Used,Device_Used,Is_Response
0,id10326,The room was kind of clean but had a VERY stro...,Edge,Mobile,not happy
1,id10327,I stayed at the Crown Plaza April -- - April -...,Internet Explorer,Mobile,not happy
2,id10328,I booked this hotel through Hotwire at the low...,Mozilla,Tablet,not happy
3,id10329,Stayed here with husband and sons on the way t...,InternetExplorer,Desktop,happy
4,id10330,My girlfriends and I stayed here to celebrate ...,Edge,Tablet,not happy

# Viewing the Test data Set

In [5]:
test.head()

,User_ID,Description,Browser_Used,Device_Used
0,id80132,Looking for a motel in close proximity to TV t...,Firefox,Mobile
1,id80133,Walking distance to Madison Square Garden and ...,InternetExplorer,Desktop
2,id80134,Visited Seattle on business. Spent - nights in...,IE,Tablet
3,id80135,This hotel location is excellent and the rooms...,Edge,Mobile
4,id80136,This hotel is awesome I love the service Antho...,Mozilla,Mobile

# Checking the shape of the Train Data Set

In [6]:
train.shape

(38932, 5)

# Checking the shape of the Test Data Set

In [7]:
test.shape

(29404, 4)

# Checking the Difference between the test and train data set

In [8]:
train.columns.difference(test.columns)

Index([u'Is_Response'], dtype='object')

# Creating a column and separating it with test and train data and concat as new data set

In [9]:
train["source"] = "train"
test["source"] = "test"

In [10]:
dataf = pd.concat([train,test],axis=0,sort=False)

# Checking the Na values in the data set

In [11]:
dataf.isna().sum()

User_ID             0
Description         0
Browser_Used        0
Device_Used         0
Is_Response     29404
source              0
dtype: int64

# checking the information about the data set

In [12]:
dataf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 68336 entries, 0 to 29403
Data columns (total 6 columns):
User_ID         68336 non-null object
Description     68336 non-null object
Browser_Used    68336 non-null object
Device_Used     68336 non-null object
Is_Response     38932 non-null object
source          68336 non-null object
dtypes: object(6)
memory usage: 2.1+ MB

# Checking the stats of the data set

In [13]:
dataf.describe()

,User_ID,Description,Browser_Used,Device_Used,Is_Response,source
count,68336,68336,68336,68336,38932,68336
unique,68336,68336,11,3,2,2
top,id85509,My husband and son recently stayed at this hot...,Firefox,Desktop,happy,train
freq,1,1,13043,26375,26521,38932

# Checking the unique values in the data set

In [14]:
dataf.nunique()

User_ID         68336
Description     68336
Browser_Used       11
Device_Used         3
Is_Response         2
source              2
dtype: int64

# Checking the shape of new data set

In [15]:
dataf.shape

(68336, 6)

# checking the columns in the new data set

In [16]:
dataf.columns

Index([u'User_ID', u'Description', u'Browser_Used', u'Device_Used',
       u'Is_Response', u'source'],
      dtype='object')

# checking for the duplicate in the data set

In [17]:
dataf.duplicated().sum()

0

# Number of Words

In [18]:
dataf['word_count']=dataf['Description'].apply(lambda x: len(str(x).split(" ")))
dataf[['Description','word_count']].head()

                                         Description  word_count
0  The room was kind of clean but had a VERY stro...          46
1  I stayed at the Crown Plaza April -- - April -...         208
2  I booked this hotel through Hotwire at the low...         229
3  Stayed here with husband and sons on the way t...          93
4  My girlfriends and I stayed here to celebrate ...         294

# Number of characters

In [19]:
dataf['char_count'] = dataf['Description'].str.len() ## this also includes spaces
dataf[['Description','char_count']].head()

                                         Description  char_count
0  The room was kind of clean but had a VERY stro...         248
1  I stayed at the Crown Plaza April -- - April -...        1077
2  I booked this hotel through Hotwire at the low...        1327
3  Stayed here with husband and sons on the way t...         502
4  My girlfriends and I stayed here to celebrate ...        1613

# Average Word Length

In [20]:
def avg_word(sentence):
  words = sentence.split()
  return (sum(len(word) for word in words)/len(words))

dataf['avg_word'] = dataf['Description'].apply(lambda x: avg_word(x))
dataf[['Description','avg_word']].head()

                                         Description  avg_word
0  The room was kind of clean but had a VERY stro...         4
1  I stayed at the Crown Plaza April -- - April -...         4
2  I booked this hotel through Hotwire at the low...         4
3  Stayed here with husband and sons on the way t...         4
4  My girlfriends and I stayed here to celebrate ...         4

# Importing NLTK package

In [21]:
import nltk

In [24]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\user\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [25]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\user\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

# Number of stopwords

In [26]:
from nltk.corpus import stopwords
stop = stopwords.words('english')
dataf['stopwords'] = train['Description'].apply(lambda x: len([x for x in x.split() if x in stop]))
dataf[['Description','stopwords']].head()

                                         Description  stopwords
0  The room was kind of clean but had a VERY stro...         23
1  I stayed at the Crown Plaza April -- - April -...         82
2  I booked this hotel through Hotwire at the low...         91
3  Stayed here with husband and sons on the way t...         36
4  My girlfriends and I stayed here to celebrate ...        127

# Number of special characters

In [27]:
dataf['SpecialChar'] = dataf['Description'].apply(lambda x: len([x for x in x.split() if x.startswith('-')]))
dataf[['Description','SpecialChar']].head()

                                         Description  SpecialChar
0  The room was kind of clean but had a VERY stro...            0
1  I stayed at the Crown Plaza April -- - April -...            6
2  I booked this hotel through Hotwire at the low...            0
3  Stayed here with husband and sons on the way t...            0
4  My girlfriends and I stayed here to celebrate ...            8

# Number of numerics

In [28]:
dataf['numerics'] = dataf['Description'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
dataf[['Description','numerics']].head()

                                         Description  numerics
0  The room was kind of clean but had a VERY stro...         0
1  I stayed at the Crown Plaza April -- - April -...         0
2  I booked this hotel through Hotwire at the low...         0
3  Stayed here with husband and sons on the way t...         0
4  My girlfriends and I stayed here to celebrate ...         0

# Number of Uppercase words

In [29]:
dataf['upper'] = dataf['Description'].apply(lambda x: len([x for x in x.split() if x.isupper()]))
dataf[['Description','upper']].head()

                                         Description  upper
0  The room was kind of clean but had a VERY stro...      1
1  I stayed at the Crown Plaza April -- - April -...      8
2  I booked this hotel through Hotwire at the low...      9
3  Stayed here with husband and sons on the way t...      0
4  My girlfriends and I stayed here to celebrate ...      7

# Lower casing

In [30]:
dataf['Description'] = dataf['Description'].apply(lambda x: " ".join(x.lower() for x in x.split()))
dataf['Description'].head()

0    the room was kind of clean but had a very stro...
1    i stayed at the crown plaza april -- - april -...
2    i booked this hotel through hotwire at the low...
3    stayed here with husband and sons on the way t...
4    my girlfriends and i stayed here to celebrate ...
Name: Description, dtype: object

# Removing Punctuation

In [31]:
dataf['Description'] = dataf['Description'].str.replace('[^\w\s]','')
dataf['Description'].head()

0    the room was kind of clean but had a very stro...
1    i stayed at the crown plaza april   april   th...
2    i booked this hotel through hotwire at the low...
3    stayed here with husband and sons on the way t...
4    my girlfriends and i stayed here to celebrate ...
Name: Description, dtype: object

# Removal of Stop Words

In [32]:
from nltk.corpus import stopwords
stop = stopwords.words('english')
dataf['Description'] = dataf['Description'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
dataf['Description'].head()

0    room kind clean strong smell dogs generally av...
1    stayed crown plaza april april staff friendly ...
2    booked hotel hotwire lowest price could find g...
3    stayed husband sons way alaska cruise loved ho...
4    girlfriends stayed celebrate th birthdays plan...
Name: Description, dtype: object

# Common word removal or Keeping it

# let’s check the most frequently occurring words in our text data then take call to remove or retain . In which I have taken the 304 words as the total words is 92530 and square root of it

In [33]:
freq = pd.Series(' '.join(dataf['Description']).split()).value_counts()[:304]
freq.head()

hotel    124947
room     108111
stay      46365
great     44817
staff     42681
dtype: int64

# Now Keep it from the Freq

In [34]:
freq = list(freq.index)
dataf['Description'] = dataf['Description'].apply(lambda x: " ".join(x for x in x.split() if x in freq))
dataf['Description'].head()

0    room clean ok stay youre would staying price r...
1    stayed staff friendly food restaurant little h...
2    booked hotel price could find got front desk m...
3    stayed husband way loved hotel great experienc...
4    stayed th weekend back looking us rooms rate s...
Name: Description, dtype: object

# Rare words removal

# Similarly, just as we removed the most common words, this time let’s remove rarely occurring words from the text. Because they’re so rare, the association between them and other words is dominated by noise. You can replace rare words with a more general form and then this will have higher counts

In [35]:
freq = pd.Series(' '.join(dataf['Description']).split()).value_counts()[-152:]
freq.head()

long       5900
across     5898
weekend    5886
problem    5884
rate       5848
dtype: int64

# Now Removing

In [36]:
freq = list(freq.index)
dataf['Description'] = dataf['Description'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
dataf['Description'].head()

0    room clean stay would staying price right brea...
1    stayed staff friendly food restaurant little p...
2    booked hotel price could find got front desk u...
3    stayed way hotel great experience room best fl...
4    stayed th back us rooms stayed nights parking ...
Name: Description, dtype: object

# Importing Text blob for Spelling correction

In [37]:
dataf['Description']

0        room clean stay would staying price right brea...
1        stayed staff friendly food restaurant little p...
2        booked hotel price could find got front desk u...
3        stayed way hotel great experience room best fl...
4        stayed th back us rooms stayed nights parking ...
5        rooms one nice clean bed old great location et...
6        stayed hotel times though hotel walk clean sta...
7        stayed city back found little hotel location p...
8        stayed trip san could recommend hotel called h...
9        wonderful staff great location price hotel fre...
10             times square nice rooms stayed nights great
11       stayed really nice hotel great location downto...
12       stay location never hotel walk get walking als...
13       recommend comfortable staff room clean really ...
14       found hotel clean located good free airport ro...
15       stayed th th much day trip another nights hote...
16       us hotel night night old hotel staff us room t...
17       old feel like back morning next door room dont...
18       stayed nights really located walk walk room ni...
19       service hotel way way clean pool area better m...
20       stayed many friendly service good went floor s...
21       everything could want hotel location walk ever...
22       much stay hotel times square price rooms lobby...
23       really hotel staff wonderful quite helpful old...
24       days new stay overall size location room every...
25       stayed hotel two nights day arrived room wasnt...
26       took trip stay nice clean hotel restaurant us ...
27       stayed us nice hotel service good large new on...
28       stayed times never staff helpful location pric...
29       nice staff helpful staff bar staff room size b...
                               ...
29374    nice hotel bit service excellent friendly help...
29375    good hotel hotels would perfect like two us st...
29376    booked hotel room bed asked suite front desk d...
29377    price room service room parking night room vie...
29378    stayed san center right street nice big room w...
29379    really location walking distance time friendly...
29380    rooms clean staff went friendly helpful restau...
29381    area bathroom water hotel day stay water calle...
29382    work hotel stay one room find room dont work d...
29383              got never service hotel well still stay
29384    got back morning new hotel away hotel got bed ...
29385    booked room arrived find small enough room clo...
29386    going days got room rooms area wasnt stayed mu...
29387    always always way really one location another ...
29388    hotel make good time every service always grea...
29389    hotel great location day stay stayed found roo...
29390    day nyc found hotel also hotel free service gr...
29391    hotel room lobby hotel quite rooms nice staff ...
29392    hotel hotel lobby bar comfortable bar floor ro...
29393    booked hotel got good san price room hotel clo...
29394    hotel really comfortable free parking free clo...
29395    stayed nights room wasnt noise morning also ro...
29396    stayed nights location good walk restaurants t...
29397    nights beds wonderful staff best lot lot staff...
29398    booked great clean bathroom could use front de...
29399    stayed hotel place rooms coffee view hotel loc...
29400    stay within parking found never stayed got eas...
29401    stayed nights little friendly staff asked time...
29402    stayed best could everything clean friendly tr...
29403    comfortable every way rooms good nice room rea...
Name: Description, Length: 68336, dtype: object

In [ ]:
from textblob import TextBlob
dataf['Description']=dataf['Description'][:68336].apply(lambda x: str(TextBlob(x).correct()))

# Tokenization  refers to dividing the text into a sequence of words or sentences.---Other way if Sentiment Analysis is not working we can use this

In [36]:
corpus = dataf['Description']
lables = dataf['Browser_Used']
corpus = np.array(corpus)
corpus

array(['room clean stay would staying price right breakfast free better',
       'stayed staff friendly food restaurant little pool little room floor two comfortable beds one tv little small small bit area could little every day never one floor work staff one door two sure room little would stay business would',
       'booked hotel price could find got front desk us room little would booked room would told rooms get go great got room room great location much say hotel room small bathroom small bathroom also staff parking day best also breakfast lobby small old coffee lobby service small rooms small view great location distance better',
       ...,
       'stayed nights little friendly staff asked times everything room large clean quiet comfortable good place stay stay',
       'stayed best could everything clean friendly trip nyc',
       'comfortable every way rooms good nice room really service room quiet location arrived front desk also took small bathroom hotel located quiet nyc street th square away great'],
      dtype=object)

In [38]:
corpus_df = pd.DataFrame({'Description': corpus, 
                          'Browser_Used': lables})
corpus_df = corpus_df[['Description', 'Browser_Used']]
corpus_df

                                             Description       Browser_Used
0      room clean stay would staying price right brea...               Edge
1      stayed staff friendly food restaurant little p...  Internet Explorer
2      booked hotel price could find got front desk u...            Mozilla
3      stayed way hotel great experience room best fl...   InternetExplorer
4      stayed th back us rooms stayed nights parking ...               Edge
5      rooms one nice clean bed old great location et...   InternetExplorer
6      stayed hotel times though hotel walk clean sta...            Firefox
7      stayed city back found little hotel location p...      Google Chrome
8      stayed trip san could recommend hotel called h...  Internet Explorer
9      wonderful staff great location price hotel fre...             Chrome
10           times square nice rooms stayed nights great  Internet Explorer
11     stayed really nice hotel great location downto...                 IE
12     stay location never hotel walk get walking als...               Edge
13     recommend comfortable staff room clean really ...  Internet Explorer
14     found hotel clean located good free airport ro...             Chrome
15     stayed th th much day trip another nights hote...            Mozilla
16     us hotel night night old hotel staff us room t...            Mozilla
17     old feel like back morning next door room dont...      Google Chrome
18     stayed nights really located walk walk room ni...      Google Chrome
19     service hotel way way clean pool area better m...            Mozilla
20     stayed many friendly service good went floor s...            Firefox
21     everything could want hotel location walk ever...            Firefox
22     much stay hotel times square price rooms lobby...               Edge
23     really hotel staff wonderful quite helpful old...             Chrome
24     days new stay overall size location room every...             Chrome
25     stayed hotel two nights day arrived room wasnt...              Opera
26     took trip stay nice clean hotel restaurant us ...   InternetExplorer
27     stayed us nice hotel service good large new on...    Mozilla Firefox
28     stayed times never staff helpful location pric...            Mozilla
29     nice staff helpful staff bar staff room size b...            Firefox
...                                                  ...                ...
29374  nice hotel bit service excellent friendly help...               Edge
29375  good hotel hotels would perfect like two us st...   InternetExplorer
29376  booked hotel room bed asked suite front desk d...               Edge
29377  price room service room parking night room vie...    Mozilla Firefox
29378  stayed san center right street nice big room w...   InternetExplorer
29379  really location walking distance time friendly...               Edge
29380  rooms clean staff went friendly helpful restau...  Internet Explorer
29381  area bathroom water hotel day stay water calle...               Edge
29382  work hotel stay one room find room dont work d...            Mozilla
29383            got never service hotel well still stay    Mozilla Firefox
29384  got back morning new hotel away hotel got bed ...   InternetExplorer
29385  booked room arrived find small enough room clo...   InternetExplorer
29386  going days got room rooms area wasnt stayed mu...               Edge
29387  always always way really one location another ...               Edge
29388  hotel make good time every service always grea...      Google Chrome
29389  hotel great location day stay stayed found roo...               Edge
29390  day nyc found hotel also hotel free service gr...   InternetExplorer
29391  hotel room lobby hotel quite rooms nice staff ...    Mozilla Firefox
29392  hotel hotel lobby bar comfortable bar floor ro...      Google Chrome
29393  booked hotel got good san price room hotel clo...  Internet Explorer
29394  hotel really comfortable free parking free clo...            Firefox
29395  stayed nights room wasnt noise morning also ro...               Edge
29396  stayed nights location good walk restaurants t...            Firefox
29397  nights beds wonderful staff best lot lot staff...            Firefox
29398  booked great clean bathroom could use front de...            Mozilla
29399  stayed hotel place rooms coffee view hotel loc...             Chrome
29400  stay within parking found never stayed got eas...  Internet Explorer
29401  stayed nights little friendly staff asked time...               Edge
29402  stayed best could everything clean friendly tr...   InternetExplorer
29403  comfortable every way rooms good nice room rea...    Mozilla Firefox

[68336 rows x 2 columns]

In [39]:
wpt = nltk.WordPunctTokenizer()
stop_words = nltk.corpus.stopwords.words('english')

def normalize_document(doc):
    # tokenize document
    tokens = wpt.tokenize(doc)
    # filter stopwords out of document
    filtered_tokens = [token for token in tokens if token not in stop_words]
    # re-create document from filtered tokens
    doc = ' '.join(filtered_tokens)
    return doc

normalize_corpus = np.vectorize(normalize_document)

In [40]:
norm_corpus = normalize_corpus(corpus)
norm_corpus

array(['room clean stay would staying price right breakfast free better',
       'stayed staff friendly food restaurant little pool little room floor two comfortable beds one tv little small small bit area could little every day never one floor work staff one door two sure room little would stay business would',
       'booked hotel price could find got front desk us room little would booked room would told rooms get go great got room room great location much say hotel room small bathroom small bathroom also staff parking day best also breakfast lobby small old coffee lobby service small rooms small view great location distance better',
       ...,
       'stayed nights little friendly staff asked times everything room large clean quiet comfortable good place stay stay',
       'stayed best could everything clean friendly trip nyc',
       'comfortable every way rooms good nice room really service room quiet location arrived front desk also took small bathroom hotel located quiet nyc street th square away great'],
      dtype='|S1930')

In [41]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(min_df=0., max_df=1.)
cv_matrix = cv.fit_transform(norm_corpus)
cv_matrix = cv_matrix.toarray()
cv_matrix

array([[0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 1, 2],
       [0, 2, 0, ..., 0, 0, 2],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 1, 0, ..., 0, 0, 0]], dtype=int64)

In [42]:
# get all unique words in the corpus
vocab = cv.get_feature_names()
# show document feature vectors
pd.DataFrame(cv_matrix, columns=vocab)

,airport,also,always,another,area,around,arrived,asked,away,back,...,want,wasnt,water,way,well,went,within,wonderful,work,would
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,2
2,0,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,0,0,0,1,0,0,0,0,0,1,...,0,0,0,0,1,0,0,1,0,3
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
7,0,0,0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,1,0,1
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
12,2,1,1,0,1,1,0,0,0,2,...,0,0,0,2,0,0,1,1,0,1
13,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
14,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
18,1,4,0,0,0,0,0,0,0,0,...,0,0,0,1,3,1,0,0,0,1
19,0,0,0,2,2,0,0,0,0,0,...,2,1,0,2,0,0,0,0,1,1
20,0,2,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,1,2
21,0,1,0,0,0,0,1,0,0,0,...,1,0,0,0,1,1,0,0,1,2
22,0,0,0,1,0,0,0,0,0,4,...,0,2,0,0,0,0,0,0,0,2
23,0,0,0,0,3,0,0,0,0,0,...,0,0,1,0,1,0,0,1,0,0
24,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,1
25,0,0,0,1,1,0,1,0,0,2,...,0,2,1,0,0,1,0,0,0,3
26,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,1
27,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
28,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68306,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
68307,0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,2,5
68308,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
68309,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
68310,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,0,1
68311,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
68312,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
68313,0,0,0,1,1,1,0,0,0,1,...,0,0,3,0,0,2,0,0,0,0
68314,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,1
68315,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
68316,1,0,0,0,0,0,0,0,3,1,...,0,0,0,0,1,0,1,0,0,0
68317,0,0,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,1
68318,0,0,0,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
68319,0,0,2,1,1,0,0,0,1,0,...,1,0,0,1,0,1,0,0,0,0
68320,0,0,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
68321,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,2,0,0
68322,0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
68323,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
68324,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
68325,0,1,0,0,1,0,1,1,0,0,...,0,0,0,1,1,0,0,0,0,0
68326,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
68327,0,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
68328,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
68329,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
68330,0,0,0,0,0,2,0,0,0,0,...,1,0,0,0,1,0,0,0,0,1
68331,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
68332,0,2,0,0,0,1,0,0,1,2,...,0,0,0,0,0,0,1,0,0,1
68333,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
68334,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
68335,0,1,0,0,0,0,1,0,1,0,...,0,0,0,1,0,0,0,0,0,0

# TF-IDF Model

In [46]:
from sklearn.feature_extraction.text import TfidfVectorizer

tv = TfidfVectorizer(min_df=0., max_df=1., use_idf=True)
tv_matrix = tv.fit_transform(norm_corpus)
tv_matrix = tv_matrix.toarray()

vocab = tv.get_feature_names()
pd.DataFrame(np.round(tv_matrix, 2), columns=vocab)

,airport,also,always,another,area,around,arrived,asked,away,back,...,want,wasnt,water,way,well,went,within,wonderful,work,would
0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.24
1,0.00,0.00,0.00,0.00,0.11,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.15,0.17
2,0.00,0.19,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.15
3,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.22,0.00,0.00,0.00,0.00,0.00,0.00
4,0.00,0.00,0.00,0.14,0.00,0.00,0.00,0.00,0.00,0.11,...,0.00,0.00,0.00,0.00,0.10,0.00,0.00,0.14,0.00,0.23
5,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.11
6,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.31,0.00,0.00,0.00,0.00
7,0.00,0.00,0.00,0.00,0.00,0.14,0.00,0.00,0.00,0.12,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.16,0.00,0.09
8,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.27,0.00,0.00
9,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.30,0.00,0.00
10,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
11,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.23,0.00,0.00,0.13
12,0.20,0.07,0.09,0.00,0.07,0.08,0.00,0.00,0.00,0.15,...,0.00,0.00,0.00,0.17,0.00,0.00,0.10,0.10,0.00,0.05
13,0.00,0.18,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.26,0.00,0.00,0.14
14,0.38,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
15,0.00,0.00,0.00,0.25,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
16,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
17,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.28,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
18,0.12,0.33,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.10,0.25,0.11,0.00,0.00,0.00,0.06
19,0.00,0.00,0.00,0.17,0.13,0.00,0.00,0.00,0.00,0.00,...,0.17,0.09,0.00,0.16,0.00,0.00,0.00,0.00,0.09,0.05
20,0.00,0.23,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.14,0.00,0.15,0.00,0.00,0.16,0.18
21,0.00,0.13,0.00,0.00,0.00,0.00,0.18,0.00,0.00,0.00,...,0.17,0.00,0.00,0.00,0.13,0.17,0.00,0.00,0.19,0.20
22,0.00,0.00,0.00,0.07,0.00,0.00,0.00,0.00,0.00,0.23,...,0.00,0.16,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.08
23,0.00,0.00,0.00,0.00,0.42,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.18,0.00,0.13,0.00,0.00,0.18,0.00,0.00
24,0.00,0.00,0.00,0.00,0.00,0.00,0.19,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.14,0.00,0.00,0.00,0.00,0.11
25,0.00,0.00,0.00,0.10,0.08,0.00,0.10,0.00,0.00,0.16,...,0.00,0.21,0.10,0.00,0.00,0.09,0.00,0.00,0.00,0.17
26,0.00,0.00,0.25,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.24,0.00,0.25,0.00,0.14
27,0.00,0.20,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.48
28,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
29,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.16,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68306,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.23,0.00,0.00,0.00,0.00,0.00,0.00
68307,0.00,0.07,0.00,0.00,0.00,0.08,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.19,0.26
68308,0.29,0.00,0.00,0.00,0.00,0.00,0.00,0.28,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
68309,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
68310,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.36,0.00,0.10
68311,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
68312,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.31,0.00,0.00,0.00,0.00
68313,0.00,0.00,0.00,0.13,0.10,0.11,0.00,0.00,0.00,0.10,...,0.00,0.00,0.39,0.00,0.00,0.24,0.00,0.00,0.00,0.00
68314,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.60,0.16
68315,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.37,0.00,0.00,0.00,0.00,0.00
68316,0.16,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.39,0.11,...,0.00,0.00,0.00,0.00,0.11,0.00,0.15,0.00,0.00,0.00
68317,0.00,0.00,0.00,0.21,0.00,0.00,0.21,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.22,0.12
68318,0.00,0.00,0.00,0.00,0.24,0.00,0.00,0.00,0.00,0.00,...,0.00,0.32,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
68319,0.00,0.00,0.39,0.20,0.16,0.00,0.00,0.00,0.18,0.00,...,0.19,0.00,0.00,0.19,0.00,0.19,0.00,0.00,0.00,0.00
68320,0.00,0.00,0.45,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
68321,0.00,0.00,0.00,0.00,0.00,0.00,0.19,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.37,0.00,0.00
68322,0.00,0.10,0.00,0.00,0.00,0.12,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
68323,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.25,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
68324,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.11,0.00,0.00,0.00,0.00,0.00
68325,0.00,0.12,0.00,0.00,0.12,0.00,0.16,0.16,0.00,0.00,...,0.00,0.00,0.00,0.15,0.12,0.00,0.00,0.00,0.00,0.00
68326,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.23,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.14
68327,0.00,0.21,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.30,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
68328,0.00,0.00,0.20,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
68329,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.29,0.00,0.16
68330,0.00,0.00,0.00,0.00,0.00,0.28,0.00,0.00,0.00,0.00,...,0.16,0.00,0.00,0.00,0.12,0.00,0.00,0.00,0.00,0.09
68331,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
68332,0.00,0.16,0.00,0.00,0.00,0.09,0.00,0.00,0.10,0.17,...,0.00,0.00,0.00,0.00,0.00,0.00,0.11,0.00,0.00,0.06
68333,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.32,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
68334,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
68335,0.00,0.16,0.00,0.00,0.00,0.00,0.22,0.00,0.20,0.00,...,0.00,0.00,0.00,0.21,0.00,0.00,0.00,0.00,0.00,0.00

In [50]:
dataf['Description'][:5].apply(lambda x: TextBlob(x).sentiment)

0    (0.388095238095, 0.633928571429)
1          (-0.01625, 0.548888888889)
2            (0.2125, 0.457692307692)
3                      (0.95, 0.7625)
4    (0.404166666667, 0.508333333333)
Name: Description, dtype: object

In [51]:
dataf['sentiment'] = dataf['Description'].apply(lambda x: TextBlob(x).sentiment[0] )
dataf[['Description','sentiment']].head()

                                         Description  sentiment
0  room clean stay would staying price right brea...   0.388095
1  stayed staff friendly food restaurant little p...  -0.016250
2  booked hotel price could find got front desk u...   0.212500
3  stayed way hotel great experience room best fl...   0.950000
4  stayed th back us rooms stayed nights parking ...   0.404167

In [52]:
dataf

,User_ID,Description,Browser_Used,Device_Used,Is_Response,source,word_count,char_count,avg_word,stopwords,SpecialChar,numerics,upper,sentiment
0,id10326,room clean stay would staying price right brea...,Edge,Mobile,not happy,train,46,248,4,23,0,0,1,0.388095
1,id10327,stayed staff friendly food restaurant little p...,Internet Explorer,Mobile,not happy,train,208,1077,4,82,6,0,8,-0.016250
2,id10328,booked hotel price could find got front desk u...,Mozilla,Tablet,not happy,train,229,1327,4,91,0,0,9,0.212500
3,id10329,stayed way hotel great experience room best fl...,InternetExplorer,Desktop,happy,train,93,502,4,36,0,0,0,0.950000
4,id10330,stayed th back us rooms stayed nights parking ...,Edge,Tablet,not happy,train,294,1613,4,127,8,0,7,0.404167
5,id10331,rooms one nice clean bed old great location et...,InternetExplorer,Desktop,happy,train,112,610,4,50,4,0,3,0.418519
6,id10332,stayed hotel times though hotel walk clean sta...,Firefox,Tablet,not happy,train,95,492,4,51,1,0,1,0.283333
7,id10333,stayed city back found little hotel location p...,Google Chrome,Mobile,happy,train,164,935,4,69,2,0,4,0.167708
8,id10334,stayed trip san could recommend hotel called h...,Internet Explorer,Desktop,happy,train,117,641,4,48,1,0,5,0.366071
9,id10335,wonderful staff great location price hotel fre...,Chrome,Tablet,not happy,train,58,358,5,20,1,0,0,0.683333
10,id10336,times square nice rooms stayed nights great,Internet Explorer,Tablet,happy,train,14,77,4,3,1,0,0,0.700000
11,id10337,stayed really nice hotel great location downto...,IE,Mobile,happy,train,73,425,4,26,2,0,4,0.550000
12,id10338,stay location never hotel walk get walking als...,Edge,Mobile,not happy,train,552,2998,4,243,5,0,2,0.414123
13,id10339,recommend comfortable staff room clean really ...,Internet Explorer,Desktop,happy,train,79,504,5,21,0,0,3,0.273333
14,id10340,found hotel clean located good free airport ro...,Chrome,Desktop,happy,train,44,242,4,12,0,0,3,0.488889
15,id10341,stayed th th much day trip another nights hote...,Mozilla,Desktop,happy,train,111,681,5,46,4,0,0,0.513333
16,id10342,us hotel night night old hotel staff us room t...,Mozilla,Tablet,not happy,train,123,669,4,50,4,0,2,0.078788
17,id10343,old feel like back morning next door room dont...,Google Chrome,Desktop,not happy,train,41,257,5,13,3,0,1,0.033333
18,id10344,stayed nights really located walk walk room ni...,Google Chrome,Mobile,happy,train,311,1702,4,121,6,0,5,0.356410
19,id10345,service hotel way way clean pool area better m...,Mozilla,Desktop,not happy,train,529,2827,4,213,25,0,13,0.353571
20,id10346,stayed many friendly service good went floor s...,Firefox,Mobile,not happy,train,321,1845,4,125,4,0,11,0.237500
21,id10347,everything could want hotel location walk ever...,Firefox,Desktop,happy,train,162,883,4,77,3,0,0,0.325000
22,id10348,much stay hotel times square price rooms lobby...,Edge,Tablet,not happy,train,596,3204,4,269,7,0,18,0.023864
23,id10349,really hotel staff wonderful quite helpful old...,Chrome,Desktop,happy,train,124,704,4,47,0,0,3,0.377917
24,id10350,days new stay overall size location room every...,Chrome,Desktop,happy,train,182,1051,4,74,2,0,1,0.207752
25,id10351,stayed hotel two nights day arrived room wasnt...,Opera,Mobile,not happy,train,371,2019,4,166,4,0,3,0.125343
26,id10352,took trip stay nice clean hotel restaurant us ...,InternetExplorer,Mobile,happy,train,115,630,4,47,0,0,4,0.693333
27,id10353,stayed us nice hotel service good large new on...,Mozilla Firefox,Desktop,happy,train,107,610,4,47,0,0,0,0.377192
28,id10354,stayed times never staff helpful location pric...,Mozilla,Mobile,happy,train,37,208,4,15,0,0,1,0.184127
29,id10355,nice staff helpful staff bar staff room size b...,Firefox,Tablet,not happy,train,200,1134,4,82,3,0,2,0.291667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29374,id109506,nice hotel bit service excellent friendly help...,Edge,Desktop,NaN,test,120,641,4,27,0,0,2,0.494388
29375,id109507,good hotel hotels would perfect like two us st...,InternetExplorer,Desktop,NaN,test,422,2244,4,69,0,0,8,0.445000
29376,id109508,booked hotel room bed asked suite front desk d...,Edge,Tablet,NaN,test,67,380,4,61,0,0,0,1.000000
29377,id109509,price room service room parking night room vie...,Mozilla Firefox,Mobile,NaN,test,54,277,4,44,0,0,1,0.437500
29378,id109510,stayed san center right street nice big room w...,InternetExplorer,Mobile,NaN,test,91,542,4,132,1,0,1,0.322768
29379,id109511,really location walking distance time friendly...,Edge,Tablet,NaN,test,49,256,4,25,0,0,1,0.410417
29380,id109512,rooms clean staff went friendly helpful restau...,Internet Explorer,Mobile,NaN,test,48,301,4,195,0,0,1,0.368333
29381,id109513,area bathroom water hotel day stay water calle...,Edge,Desktop,NaN,test,254,1399,4,113,6,0,4,0.087500
29382,id109514,work hotel stay one room find room dont work d...,Mozilla,Mobile,NaN,test,137,682,3,210,6,0,3,1.000000
29383,id109515,got never service hotel well still stay,Mozilla Firefox,Mobile,NaN,test,58,326,4,24,0,0,2,0.000000
29384,id109516,got back morning new hotel away hotel got bed ...,InternetExplorer,Mobile,NaN,test,214,1139,4,46,4,0,7,0.171591
29385,id109517,booked room arrived find small enough room clo...,InternetExplorer,Mobile,NaN,test,115,565,3,40,4,0,0,-0.166667
29386,id109518,going days got room rooms area wasnt stayed mu...,Edge,Desktop,NaN,test,87,505,4,131,0,0,3,0.500000
29387,id109519,always always way really one location another ...,Edge,Tablet,NaN,test,135,744,4,44,5,0,2,0.358333
29388,id109520,hotel make good time every service always grea...,Google Chrome,Desktop,NaN,test,97,516,4,207,0,0,2,0.544444
29389,id109521,hotel great location day stay stayed found roo...,Edge,Tablet,NaN,test,161,871,4,19,1,0,2,0.468056
29390,id109522,day nyc found hotel also hotel free service gr...,InternetExplorer,Mobile,NaN,test,280,1551,4,68,1,0,18,0.262698
29391,id109523,hotel room lobby hotel quite rooms nice staff ...,Mozilla Firefox,Mobile,NaN,test,155,779,4,53,0,0,8,0.175000
29392,id109524,hotel hotel lobby bar comfortable bar floor ro...,Google Chrome,Mobile,NaN,test,184,1028,4,322,1,0,1,0.190339
29393,id109525,booked hotel got good san price room hotel clo...,Internet Explorer,Tablet,NaN,test,206,1095,4,51,1,0,17,0.547619
29394,id109526,hotel really comfortable free parking free clo...,Firefox,Desktop,NaN,test,70,379,4,132,0,0,3,0.280000
29395,id109527,stayed nights room wasnt noise morning also ro...,Edge,Mobile,NaN,test,70,377,4,6,3,0,1,0.100000
29396,id109528,stayed nights location good walk restaurants t...,Firefox,Desktop,NaN,test,108,626,4,57,2,0,2,0.394643
29397,id109529,nights beds wonderful staff best lot lot staff...,Firefox,Tablet,NaN,test,60,305,4,96,1,0,1,0.633333
29398,id109530,booked great clean bathroom could use front de...,Mozilla,Mobile,NaN,test,187,1030,4,61,2,0,1,0.434524
29399,id109531,stayed hotel place rooms coffee view hotel loc...,Chrome,Mobile,NaN,test,71,414,4,45,0,0,1,0.000000
29400,id109532,stay within parking found never stayed got eas...,Internet Explorer,Tablet,NaN,test,347,1936,4,44,5,0,5,0.345055
29401,id109533,stayed nights little friendly staff asked time...,Edge,Desktop,NaN,test,57,309,4,32,1,0,1,0.266922
29402,id109534,stayed best could everything clean friendly tr...,InternetExplorer,Desktop,NaN,test,50,285,4,48,0,0,3,0.580556
29403,id109535,comfortable every way rooms good nice room rea...,Mozilla Firefox,Mobile,NaN,test,137,921,5,91,2,0,3,0.306250

In [82]:
##dataf.groupby("Browser_Used")['Is_Response','sentiment'].head(5)

In [67]:
dataf.Browser_Used.unique()

array(['Edge', 'Internet Explorer', 'Mozilla', 'InternetExplorer',
       'Firefox', 'Google Chrome', 'Chrome', 'IE', 'Opera',
       'Mozilla Firefox', 'Safari'], dtype=object)

In [73]:
dataf["Browser_Used"] = dataf.Browser_Used.replace({'Internet Explorer':'IE','InternetExplorer':'IE'})

In [74]:
dataf.Browser_Used.unique()

array(['Edge', 'IE', 'Mozilla', 'Firefox', 'Google Chrome', 'Chrome',
       'Opera', 'Mozilla Firefox', 'Safari'], dtype=object)

In [75]:
dataf["Browser_Used"] = dataf.Browser_Used.replace({'Mozilla':'Firefox','Mozilla Firefox':'Firefox'})

In [76]:
dataf.Browser_Used.unique()

array(['Edge', 'IE', 'Firefox', 'Google Chrome', 'Chrome', 'Opera',
       'Safari'], dtype=object)

In [77]:
dataf["Browser_Used"] = dataf.Browser_Used.replace({'Google Chrome':'Chrome'})

In [78]:
dataf.Browser_Used.unique()

array(['Edge', 'IE', 'Firefox', 'Chrome', 'Opera', 'Safari'], dtype=object)

In [87]:
dataf.Device_Used.unique()

array(['Mobile', 'Tablet', 'Desktop'], dtype=object)

In [86]:
dataf

,User_ID,Description,Browser_Used,Device_Used,Is_Response,source,word_count,char_count,avg_word,stopwords,SpecialChar,numerics,upper,sentiment
0,id10326,room clean stay would staying price right brea...,Edge,Mobile,not happy,train,46,248,4,23,0,0,1,0.388095
1,id10327,stayed staff friendly food restaurant little p...,IE,Mobile,not happy,train,208,1077,4,82,6,0,8,-0.016250
2,id10328,booked hotel price could find got front desk u...,Firefox,Tablet,not happy,train,229,1327,4,91,0,0,9,0.212500
3,id10329,stayed way hotel great experience room best fl...,IE,Desktop,happy,train,93,502,4,36,0,0,0,0.950000
4,id10330,stayed th back us rooms stayed nights parking ...,Edge,Tablet,not happy,train,294,1613,4,127,8,0,7,0.404167
5,id10331,rooms one nice clean bed old great location et...,IE,Desktop,happy,train,112,610,4,50,4,0,3,0.418519
6,id10332,stayed hotel times though hotel walk clean sta...,Firefox,Tablet,not happy,train,95,492,4,51,1,0,1,0.283333
7,id10333,stayed city back found little hotel location p...,Chrome,Mobile,happy,train,164,935,4,69,2,0,4,0.167708
8,id10334,stayed trip san could recommend hotel called h...,IE,Desktop,happy,train,117,641,4,48,1,0,5,0.366071
9,id10335,wonderful staff great location price hotel fre...,Chrome,Tablet,not happy,train,58,358,5,20,1,0,0,0.683333
10,id10336,times square nice rooms stayed nights great,IE,Tablet,happy,train,14,77,4,3,1,0,0,0.700000
11,id10337,stayed really nice hotel great location downto...,IE,Mobile,happy,train,73,425,4,26,2,0,4,0.550000
12,id10338,stay location never hotel walk get walking als...,Edge,Mobile,not happy,train,552,2998,4,243,5,0,2,0.414123
13,id10339,recommend comfortable staff room clean really ...,IE,Desktop,happy,train,79,504,5,21,0,0,3,0.273333
14,id10340,found hotel clean located good free airport ro...,Chrome,Desktop,happy,train,44,242,4,12,0,0,3,0.488889
15,id10341,stayed th th much day trip another nights hote...,Firefox,Desktop,happy,train,111,681,5,46,4,0,0,0.513333
16,id10342,us hotel night night old hotel staff us room t...,Firefox,Tablet,not happy,train,123,669,4,50,4,0,2,0.078788
17,id10343,old feel like back morning next door room dont...,Chrome,Desktop,not happy,train,41,257,5,13,3,0,1,0.033333
18,id10344,stayed nights really located walk walk room ni...,Chrome,Mobile,happy,train,311,1702,4,121,6,0,5,0.356410
19,id10345,service hotel way way clean pool area better m...,Firefox,Desktop,not happy,train,529,2827,4,213,25,0,13,0.353571
20,id10346,stayed many friendly service good went floor s...,Firefox,Mobile,not happy,train,321,1845,4,125,4,0,11,0.237500
21,id10347,everything could want hotel location walk ever...,Firefox,Desktop,happy,train,162,883,4,77,3,0,0,0.325000
22,id10348,much stay hotel times square price rooms lobby...,Edge,Tablet,not happy,train,596,3204,4,269,7,0,18,0.023864
23,id10349,really hotel staff wonderful quite helpful old...,Chrome,Desktop,happy,train,124,704,4,47,0,0,3,0.377917
24,id10350,days new stay overall size location room every...,Chrome,Desktop,happy,train,182,1051,4,74,2,0,1,0.207752
25,id10351,stayed hotel two nights day arrived room wasnt...,Opera,Mobile,not happy,train,371,2019,4,166,4,0,3,0.125343
26,id10352,took trip stay nice clean hotel restaurant us ...,IE,Mobile,happy,train,115,630,4,47,0,0,4,0.693333
27,id10353,stayed us nice hotel service good large new on...,Firefox,Desktop,happy,train,107,610,4,47,0,0,0,0.377192
28,id10354,stayed times never staff helpful location pric...,Firefox,Mobile,happy,train,37,208,4,15,0,0,1,0.184127
29,id10355,nice staff helpful staff bar staff room size b...,Firefox,Tablet,not happy,train,200,1134,4,82,3,0,2,0.291667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29374,id109506,nice hotel bit service excellent friendly help...,Edge,Desktop,NaN,test,120,641,4,27,0,0,2,0.494388
29375,id109507,good hotel hotels would perfect like two us st...,IE,Desktop,NaN,test,422,2244,4,69,0,0,8,0.445000
29376,id109508,booked hotel room bed asked suite front desk d...,Edge,Tablet,NaN,test,67,380,4,61,0,0,0,1.000000
29377,id109509,price room service room parking night room vie...,Firefox,Mobile,NaN,test,54,277,4,44,0,0,1,0.437500
29378,id109510,stayed san center right street nice big room w...,IE,Mobile,NaN,test,91,542,4,132,1,0,1,0.322768
29379,id109511,really location walking distance time friendly...,Edge,Tablet,NaN,test,49,256,4,25,0,0,1,0.410417
29380,id109512,rooms clean staff went friendly helpful restau...,IE,Mobile,NaN,test,48,301,4,195,0,0,1,0.368333
29381,id109513,area bathroom water hotel day stay water calle...,Edge,Desktop,NaN,test,254,1399,4,113,6,0,4,0.087500
29382,id109514,work hotel stay one room find room dont work d...,Firefox,Mobile,NaN,test,137,682,3,210,6,0,3,1.000000
29383,id109515,got never service hotel well still stay,Firefox,Mobile,NaN,test,58,326,4,24,0,0,2,0.000000
29384,id109516,got back morning new hotel away hotel got bed ...,IE,Mobile,NaN,test,214,1139,4,46,4,0,7,0.171591
29385,id109517,booked room arrived find small enough room clo...,IE,Mobile,NaN,test,115,565,3,40,4,0,0,-0.166667
29386,id109518,going days got room rooms area wasnt stayed mu...,Edge,Desktop,NaN,test,87,505,4,131,0,0,3,0.500000
29387,id109519,always always way really one location another ...,Edge,Tablet,NaN,test,135,744,4,44,5,0,2,0.358333
29388,id109520,hotel make good time every service always grea...,Chrome,Desktop,NaN,test,97,516,4,207,0,0,2,0.544444
29389,id109521,hotel great location day stay stayed found roo...,Edge,Tablet,NaN,test,161,871,4,19,1,0,2,0.468056
29390,id109522,day nyc found hotel also hotel free service gr...,IE,Mobile,NaN,test,280,1551,4,68,1,0,18,0.262698
29391,id109523,hotel room lobby hotel quite rooms nice staff ...,Firefox,Mobile,NaN,test,155,779,4,53,0,0,8,0.175000
29392,id109524,hotel hotel lobby bar comfortable bar floor ro...,Chrome,Mobile,NaN,test,184,1028,4,322,1,0,1,0.190339
29393,id109525,booked hotel got good san price room hotel clo...,IE,Tablet,NaN,test,206,1095,4,51,1,0,17,0.547619
29394,id109526,hotel really comfortable free parking free clo...,Firefox,Desktop,NaN,test,70,379,4,132,0,0,3,0.280000
29395,id109527,stayed nights room wasnt noise morning also ro...,Edge,Mobile,NaN,test,70,377,4,6,3,0,1,0.100000
29396,id109528,stayed nights location good walk restaurants t...,Firefox,Desktop,NaN,test,108,626,4,57,2,0,2,0.394643
29397,id109529,nights beds wonderful staff best lot lot staff...,Firefox,Tablet,NaN,test,60,305,4,96,1,0,1,0.633333
29398,id109530,booked great clean bathroom could use front de...,Firefox,Mobile,NaN,test,187,1030,4,61,2,0,1,0.434524
29399,id109531,stayed hotel place rooms coffee view hotel loc...,Chrome,Mobile,NaN,test,71,414,4,45,0,0,1,0.000000
29400,id109532,stay within parking found never stayed got eas...,IE,Tablet,NaN,test,347,1936,4,44,5,0,5,0.345055
29401,id109533,stayed nights little friendly staff asked time...,Edge,Desktop,NaN,test,57,309,4,32,1,0,1,0.266922
29402,id109534,stayed best could everything clean friendly tr...,IE,Desktop,NaN,test,50,285,4,48,0,0,3,0.580556
29403,id109535,comfortable every way rooms good nice room rea...,Firefox,Mobile,NaN,test,137,921,5,91,2,0,3,0.306250

In [91]:
Browser_dummy=pd.get_dummies(dataf.Browser_Used,prefix = "Browser")

In [92]:
dataf = pd.concat([dataf,Browser_dummy],axis = 1)

In [95]:
dataf=dataf.drop('Browser_Used',axis=1)

In [96]:
dataf.head()

,User_ID,Description,Device_Used,Is_Response,source,word_count,char_count,avg_word,stopwords,SpecialChar,numerics,upper,sentiment,Browser_Chrome,Browser_Edge,Browser_Firefox,Browser_IE,Browser_Opera,Browser_Safari
0,id10326,room clean stay would staying price right brea...,Mobile,not happy,train,46,248,4,23,0,0,1,0.388095,0,1,0,0,0,0
1,id10327,stayed staff friendly food restaurant little p...,Mobile,not happy,train,208,1077,4,82,6,0,8,-0.016250,0,0,0,1,0,0
2,id10328,booked hotel price could find got front desk u...,Tablet,not happy,train,229,1327,4,91,0,0,9,0.212500,0,0,1,0,0,0
3,id10329,stayed way hotel great experience room best fl...,Desktop,happy,train,93,502,4,36,0,0,0,0.950000,0,0,0,1,0,0
4,id10330,stayed th back us rooms stayed nights parking ...,Tablet,not happy,train,294,1613,4,127,8,0,7,0.404167,0,1,0,0,0,0

In [97]:
dataf["Is_Response"] = dataf.Is_Response.replace({'happy':1,'not happy':0})

In [114]:
dataf["source"] = dataf.source.replace({'train':1,'test':0})

In [115]:
dataf.head()

,User_ID,Description,Is_Response,source,word_count,char_count,avg_word,stopwords,SpecialChar,numerics,...,sentiment,Browser_Chrome,Browser_Edge,Browser_Firefox,Browser_IE,Browser_Opera,Browser_Safari,Device_Desktop,Device_Mobile,Device_Tablet
0,id10326,room clean stay would staying price right brea...,0.0,1,46,248,4,23,0,0,...,0.388095,0,1,0,0,0,0,0,1,0
1,id10327,stayed staff friendly food restaurant little p...,0.0,1,208,1077,4,82,6,0,...,-0.016250,0,0,0,1,0,0,0,1,0
2,id10328,booked hotel price could find got front desk u...,0.0,1,229,1327,4,91,0,0,...,0.212500,0,0,1,0,0,0,0,0,1
3,id10329,stayed way hotel great experience room best fl...,1.0,1,93,502,4,36,0,0,...,0.950000,0,0,0,1,0,0,1,0,0
4,id10330,stayed th back us rooms stayed nights parking ...,0.0,1,294,1613,4,127,8,0,...,0.404167,0,1,0,0,0,0,0,0,1

In [117]:
Device_dummy=pd.get_dummies(dataf.Device_Used,prefix = "Device")

In [100]:
dataf = pd.concat([dataf,Device_dummy],axis = 1)

In [101]:
dataf=dataf.drop('Device_Used',axis=1)

In [118]:
dataf.head()

,User_ID,Description,Is_Response,source,word_count,char_count,avg_word,stopwords,SpecialChar,numerics,...,sentiment,Browser_Chrome,Browser_Edge,Browser_Firefox,Browser_IE,Browser_Opera,Browser_Safari,Device_Desktop,Device_Mobile,Device_Tablet
0,id10326,room clean stay would staying price right brea...,0.0,1,46,248,4,23,0,0,...,0.388095,0,1,0,0,0,0,0,1,0
1,id10327,stayed staff friendly food restaurant little p...,0.0,1,208,1077,4,82,6,0,...,-0.016250,0,0,0,1,0,0,0,1,0
2,id10328,booked hotel price could find got front desk u...,0.0,1,229,1327,4,91,0,0,...,0.212500,0,0,1,0,0,0,0,0,1
3,id10329,stayed way hotel great experience room best fl...,1.0,1,93,502,4,36,0,0,...,0.950000,0,0,0,1,0,0,1,0,0
4,id10330,stayed th back us rooms stayed nights parking ...,0.0,1,294,1613,4,127,8,0,...,0.404167,0,1,0,0,0,0,0,0,1

In [122]:
data_column_category = dataf.select_dtypes(exclude=[np.number]).columns

In [123]:
data_column_Integer = dataf.columns.difference(data_column_category)

In [124]:
dataf[data_column_category].nunique()

User_ID        68336
Description    68315
dtype: int64

In [125]:
dataf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 68336 entries, 0 to 29403
Data columns (total 21 columns):
User_ID            68336 non-null object
Description        68336 non-null object
Is_Response        38932 non-null float64
source             68336 non-null int64
word_count         68336 non-null int64
char_count         68336 non-null int64
avg_word           68336 non-null int64
stopwords          68336 non-null int64
SpecialChar        68336 non-null int64
numerics           68336 non-null int64
upper              68336 non-null int64
sentiment          68336 non-null float64
Browser_Chrome     68336 non-null uint8
Browser_Edge       68336 non-null uint8
Browser_Firefox    68336 non-null uint8
Browser_IE         68336 non-null uint8
Browser_Opera      68336 non-null uint8
Browser_Safari     68336 non-null uint8
Device_Desktop     68336 non-null uint8
Device_Mobile      68336 non-null uint8
Device_Tablet      68336 non-null uint8
dtypes: float64(2), int64(8), object(2), uint8(9)
memory usage: 8.8+ MB

In [126]:
data_model= pd.concat([dataf["User_ID"],dataf[data_column_Integer]],axis=1)

In [127]:
data_model.shape

(68336, 20)

In [139]:
train_modified = data_model.loc[data_model.source==1,:]

In [140]:
test_modified = data_model.loc[data_model.source==0.0,:]

In [141]:
test_modified.shape

(29404, 20)

In [142]:
train_modified.shape

(38932, 20)

In [143]:
test_modified.columns

Index([u'User_ID', u'Browser_Chrome', u'Browser_Edge', u'Browser_Firefox',
       u'Browser_IE', u'Browser_Opera', u'Browser_Safari', u'Device_Desktop',
       u'Device_Mobile', u'Device_Tablet', u'Is_Response', u'SpecialChar',
       u'avg_word', u'char_count', u'numerics', u'sentiment', u'source',
       u'stopwords', u'upper', u'word_count'],
      dtype='object')

In [144]:
test_modified.drop(columns=['source','Is_Response'],inplace=True)

In [145]:
test_modified.shape

(29404, 18)

In [146]:
train_modified.drop(columns=['source'],inplace=True)

In [147]:
train_modified.shape

(38932, 19)

In [148]:
train_modified.to_csv("train_ready_for_model.csv",index=False)

In [149]:
test_modified.to_csv("test_ready_for_model.csv",index=False)

# Modeling